html{
    background: rgb(65,54,232);
    background: linear-gradient(90deg, rgba(2,0,31,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 74%, rgba(233,251,255,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; background-repeat: no-repeat;
}
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.wrap-login1002 {
  min-height: 600px;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 30px 130px 33px 95px}
h1{
    font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;

}
/* h1{
    font-family: Poppins-Bold;
  color: #333333;
  line-height: 1.2;
  text-align: center;

} */